bootstrap
clean-junk
run-daemon
run-applet
HEYME
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
instdir/
missing
mkinstalldirs
py-compile
data/MATE_Panflute_Applet.server
data/Makefile
data/Makefile.in
data/org.kuliniewicz.Panflute.service
data/org.mpris.panflute.service
data/panflute.schemas
m4/intltool.m4
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/panflute.pot
po/stamp-it
src/Makefile
src/Makefile.in
src/panflute/Makefile
src/panflute/Makefile.in
src/panflute/defs.py
src/panflute/defs.py.in
src/panflute/applet/Makefile
src/panflute/applet/Makefile.in
src/panflute/daemon/Makefile
src/panflute/daemon/Makefile.in
src/panflute/daemon/exaile/Makefile
src/panflute/daemon/exaile/Makefile.in
po/es.gmo
po/pl.gmo
run-debugger
po/cs.gmo
po/fr.gmo
po/nl.gmo
po/pt.gmo
run-tests
